services:
  frontend-user:
    build:
      context: ./frontend-user
      args:
        NEXT_PUBLIC_API_BASE_URL: https://api.darrenak.id.vn/v1/api
        NEXT_PUBLIC_SECRET: ${NEXT_PUBLIC_SECRET:-1a9733d7738894c5}
    container_name: frontend-user
    environment:
      NODE_ENV: production
      API_GATEWAY_URL: ${API_GATEWAY_URL:-http://host.docker.internal:6789}
    ports:
      - "6001:80"
    restart: unless-stopped
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend-admin:
    build:
      context: ./frontend-admin
      args:
        NEXT_PUBLIC_API_BASE_URL: https://api.darrenak.id.vn/v1/api
        NEXT_PUBLIC_SECRET: ${NEXT_PUBLIC_SECRET:-1a9733d7738894c5}
    container_name: frontend-admin
    environment:
      NODE_ENV: production
      API_GATEWAY_URL: ${API_GATEWAY_URL:-http://host.docker.internal:6789}
    ports:
      - "6002:80"
    restart: unless-stopped
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  app-network:
    driver: bridge



