services:
  frontend-user:
    image: datdevv/frontend-user:latest
    container_name: frontend-user
    expose:
      - "5174"                    # Internal port only (via Nginx)
    restart: unless-stopped
    networks:
      - app-network

  frontend-admin:
    image: datdevv/admin-frontend:latest
    container_name: admin-frontend
    expose:
      - "5173"                    # Internal port only (via Nginx)
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx-proxy
    ports:
      - "8080:80"                 # HTTP (8080 external -> 80 internal)
      # - "8443:443"              # HTTPS (uncomment khi cรณ SSL)
    restart: unless-stopped
    depends_on:
      - frontend-user
      - frontend-admin
    networks:
      - app-network

networks:
  app-network:
    driver: bridge



