services:
  frontend-user:
    image: datdevv/frontend-user:latest
    container_name: frontend-user
    ports:
      - "5174:5174"               # FE User chạy tại http://localhost:3000
    restart: unless-stopped
    networks:
      - app-network

  frontend-admin:
    image: datdevv/admin-frontend:latest
    container_name: admin-frontend
    ports:
      - "5173:5173"               # FE Admin chạy tại http://localhost:5173
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge


