services:
  frontend-user:
    build:
      context: ./frontend-user
    container_name: frontend-user
    environment:
      NODE_ENV: production
    ports:
      - "6001:80"
    restart: unless-stopped
    networks:
      - app-network

  frontend-admin:
    build:
      context: ./frontend-admin
    container_name: frontend-admin
    environment:
      NODE_ENV: production
    ports:
      - "6002:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge



