services:
  frontend-user:
    image: datdevv/frontend-user:latest
    container_name: frontend-user
    ports:
      - "5174:5174"               # Frontend User
    restart: unless-stopped
    networks:
      - app-network

  frontend-admin:
    image: datdevv/admin-frontend:latest
    container_name: admin-frontend
    ports:
      - "5173:5173"               # Frontend Admin
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "8080:80"                 # Nginx HTTP
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    depends_on:
      - frontend-user
      - frontend-admin
    networks:
      - app-network

networks:
  app-network:
    driver: bridge



